<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}" type="image/x-icon" />
</head>
<body>
    <div id="wrapper">
        <div id="topnav">
            <div id="hot-projects">
            </div>
        </div>
        <div id="body">
            <div id="header">
                <div id="header-bottom">
                </div>
            </div>
            <div id="content">
                <div id="content-bottom">
                    <div id="content-body">
                    </div>
                </div>
            </div>
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>